@model smartdressroom.Models.ClothesModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClothesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sizes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sizes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagesCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagesCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collection.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
