@model smartdressroom.Models.ClothesModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClothesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Collection.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
