@using smartdressroom.Services
@inject ICartService cart

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Умное Зеркало</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/consoleHubClient.js"></script>
    <script src="~/js/AJAXnav.js"></script>
</head>
<body>
    <header>
        <nav class="navbar bg-transparent">
            <span id="room" class="navbar-text">Комната</span>
        </nav>
    </header>
    <div class="row mx-0">
        <div id="leftbar" class="col-2">
            <div id="cart" class="float-left sidebar-item">
                <a data-url="@Url.Action("Display", "Cart")">
                    <img class="menu" src="@Url.Content("~/images/icons/cart.png")" alt="cart icon">
                </a>
                <div id="countDiv" class="inner-content">@cart.GetCart(Context.Session).TotalItemCount()</div>
                <span id="span1">@cart.GetCart(Context.Session).ComputeTotalValue()</span>
            </div>
            <div id="consultant" class="float-left sidebar-item">
                <img class="menu" src="@Url.Content("~/images/icons/consult.png")" alt="consult icon">
            </div>
            <div id="size" class="float-left sidebar-item">
                <img class="menu" src="@Url.Content("~/images/icons/size.png")" alt="size icon">
                <div id="sizeval" class="inner-content"></div>
                <div id="sizes" class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons" data-url="@Url.Action("ProductSizes", "Home")"></div>
            </div>
            <form id="getproduct" method="get" action="@Url.Action("Product", "Home")">
                <div class="form-group">
                    <input class="form-control" type="text"
                           name="vcode" placeholder="Артикул"
                           autofocus />
                </div>
                <button type="button" class="form-control">сканировать</button>
            </form>
        </div>
        <div id="midbar" class="col-8">
            <div class="modal fade" id="consultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img id="consultcalled" src="~/images/icons/consultcalled.png" alt="consultcalled img" />
                        </div>
                        <div id="consultModalfooter" class="modal-footer justify-content-center">
                            <img id="okimg" src="~/images/icons/ok.png" alt="ok img" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="mainView">
                @RenderBody()
            </div>
        </div>
        <div id="rightbar" class="col-2">
            <div id="reboot" class="float-right sidebar-item">
                <a href="@Url.Action("ClearCart", "Cart")">
                    <img class="menu" src="@Url.Content("~/images/icons/reboot.png")" alt="reboot icon">
                </a>
            </div>
            <div id="bring" class="float-right sidebar-item">
                <img class="menu" src="@Url.Content("~/images/icons/bring.png")" alt="bring icon">
            </div>
            <div id="price" class="float-right sidebar-item">
                <img class="menu" src="@Url.Content("~/images/icons/price.png")" alt="price icon">
                <div id="priceval" class="inner-content"></div>
            </div>
        </div>
    </div>
    <img id="croclogo" src="@Url.Content("~/images/icons/krok.png")" alt="krok logo">
</body>
</html>