@using smartdressroom.Services
@inject ICartService cart

<!DOCTYPE html>

<html>
<head>
    <style>
        .bg-dark {
            background-color: black !important;
        }

        #leftbar, main {
            float: left;
        }

        #rightbar{
            float: right;
        }

        #leftbar div {
            display: block;
        }

        .menu {
            width: 150px;
            height: 150px;
        }

        .productview {
            text-align: center;
        }
        
        .productview img{
            max-width: 100%;
        }

        #cart {
            display: inline-block;
            position: relative;
        }

        span {
            color: white;
            font-family: Tahoma, sans-serif;
            font-weight: normal;
        }

        #cart span, #size span, #price span {
            display: inline-block;
            position: absolute;
        }

        #span1 {
            top: 75px;
            left: 75px;
            transform: translate(-50%, -50%);
        }

        #span2 {
            bottom: 0px;
            left: 30px;
            transform: translate(-15%, -90%);
        }

        #span3 {
            font-size: 64px;
            top: 375px;
            left: 75px;
            transform: translate(-25%, -50%);
        }

        #span4 {
            font-size: 20px;
            top: 585px;
            left: 75px;
            transform: translate(-25%, -50%);
        }
    </style>
</head>
<body class="bg-dark">
<aside id="leftbar">
    <div id="cart">
        <a href="@Url.Action("Display", "Cart")">
            <img class="menu" src="@Url.Content("~/images/icons/cart1.png")" alt="cart icon">
        </a>
        <span id="span1">@cart.GetCart(Context.Session).TotalItemCount()</span>
        <span id="span2">@cart.GetCart(Context.Session).ComputeTotalValue()</span>
    </div>

    @await Component.InvokeAsync("PopUp")

    <div id="size">
        <img class="menu" src="@Url.Content("~/images/icons/size.png")" alt="size icon">
        <span id="span3"></span>
    </div>

    <div id="price">
        <img class="menu" src="@Url.Content("~/images/icons/price.png")" alt="price icon">
        <span id="span4"></span>
    </div>

    <form method="get" action="@Url.Action("Product", "Home")">
        <input type="number" name="code" autofocus /><br/>
        <input type="submit" value="сканировать" />
    </form>
</aside>
<aside id="rightbar">
    @await Component.InvokeAsync("Reboot")

    <div id="user">
        <img class="menu" src="@Url.Content("~/images/icons/user.png")" alt="size icon">
    </div>
</aside>
    <main>
        <div class="productview">
            @RenderBody()
        </div>
    </main>

    <img src="@Url.Content("~/images/icons/krok.png")" alt="krok logo"
         style="position: fixed; bottom: 0px; right: 0px;">
</body>
</html>
