<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <div>
        <a href="@Url.Action("Cart", "Home")">
            <img src="@Url.Content("~/images/icons/cart.png")" alt="cart icon"
                 style="left: 0px">
        </a>
    </div>

    <div>
        <a onclick="consult()">
            <img src="@Url.Content("~/images/icons/consult.png")" alt="consult icon"
                 style="left: 0px">
        </a>
    </div>

    <div id="size" style="position: relative; width: 300px">
        <img src="@Url.Content("~/images/icons/size.png")" alt="size icon"
             style="left: 0px">
    </div>

    <div id="price" style="position: relative; width: 300px">
        <img src="@Url.Content("~/images/icons/price.png")" alt="price icon"
             style="left: 0px">
    </div>

    <div id="color">
        <img src="@Url.Content("~/images/icons/color.png")" alt="color icon"
             style="left: 0px">
    </div>

    <form method="post" action="@Url.Action("Product", "Home")">
        <input type="number" name="code" />
        <input type="submit" value="сканировать" />
    </form>

    <img src="@Url.Content("~/images/icons/krok.png")" alt="krok logo"
         style="position: fixed; bottom: 0px; right: 0px;">

    <script>
        function consult() {
            alert("Консультант вызван!");
        }
    </script>
</body>
</html>
