@using smartdressroom.Models
@model List<CartItemModel>
@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}
<style>
    td
    {
        color:white;
    }
</style>
<table class="table" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)">
    @foreach (CartItemModel cm in Model)
    {
        <tr><td>@cm.Item.Brand</td><td>@cm.Item.Size</td><td>@cm.Item.Price</td><td>@cm.Quantity</td></tr>
    }
</table>