@model smartdressroom.Models.ClothesModel
@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
    var models = Model.Collection.ClothesModels.Where(m => m.ID != Model.ID).ToArray();
}

<form asp-action="AddToCart" asp-controller="Cart" id="sendproduct" method="post">
    <div class="row justify-content-center p-3">
        @Html.Hidden("id", @Model.ID)
        <input class="form-control m-1" type="number"
               id="quantity" name="quantity"
               value="1" />
        <label id="qlbl" class="m-2" for="quantity">кол-во</label>
        <button type="submit" class="form-control m-1">добавить в корзину</button>
    </div>
</form>

<div id="product">
    <p>@Model.Brand</p>
    <div id="productCarousel" class="carousel slide"
         data-ride="carousel" data-interval="2000"
         data-size="@Model.SelectedSize" data-price="@Model.Price">
        <ol class="carousel-indicators">
            <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.ImagesCount; i++)
            {
                <li data-target="#productCarousel" data-slide-to="@i"></li>
            }
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <img class="d-block w-100" src="@Url.Content(string.Format(Model.ImgPath, 0))" alt="slide 0 0">
                </div>
            </div>
            @for (int i = 1; i < Model.ImagesCount; i++)
            {
                <div class="carousel-item">
                    <div class="container">
                        <img class="d-block w-100" src="@Url.Content(string.Format(Model.ImgPath, i))" alt="slide 0 @i">
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="puk" class="owl-carousel py-3">
        @for (int i = 0; i < models.Length; i++)
        {
            <div class="item">
                <div class="container">
                    <a href="@Url.Action("Product", "Home", new { vcode = models[i].VendorCode })">
                        <img class="d-block w-100" src="@Url.Content(string.Format(models[i].ImgPath, 0))" alt="slide 1 @i">
                    </a>
                </div>
            </div>
        }
    </div>
</div>