@model smartdressroom.Models.ClothesModel
@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<form asp-action="AddToCart" asp-controller="Cart" id="sendproduct" method="post">
    <div class="row justify-content-center p-3">
        @Html.Hidden("id", @Model.ID)
        <input class="form-control m-1" type="number"
               id="quantity" name="quantity"
               value="1" />
        <label id="qlbl" class="m-2" for="quantity">кол-во</label>
        <button type="submit" class="form-control m-1">добавить в корзину</button>
    </div>
</form>

<div id="product">
    <p style="font-family: Tahoma, sans-serif; font-weight: normal; color: white">@Model.Brand</p>
    <img src="@Url.Content(Model.ImgPath)" alt="product img">
</div>

<div id="size" class="float-left sidebar-item">
    <img class="menu" src="@Url.Content("~/images/icons/size.png")" alt="size icon">
    <div id="sizeval" class="inner-content">@Model.Size</div>
</div>

<div id="price" class="float-right sidebar-item">
    <img class="menu" src="@Url.Content("~/images/icons/price.png")" alt="price icon">
    <div id="priceval" class="inner-content">@Model.Price</div>
</div>