@using smartdressroom.Models
@model CartModel
@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}
<!DOCTYPE html>
<html>
<head>
    <style>
        td {
            color: white;
            font-family: Tahoma, sans-serif;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <table class="table" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%)">
        <tr><td>Бренд</td><td>Размер</td><td>Цена</td><td>Количество</td></tr>
        @foreach (CartItemModel cm in Model.LineList)
        {
            <tr><td>@cm.Item.Brand</td><td>@cm.Item.Size</td><td>@cm.Item.Price</td><td>@cm.Quantity</td></tr>
        }
        <tr><td>Итого</td><td></td><td>@Model.ComputeTotalValue()</td><td>@Model.TotalItemCount()</td></tr>
    </table>
</body>
</html>